<div class="actions">
  
<!-- AddThis Bookmark Button BEGIN -->
<a href="http://www.addthis.com/bookmark.php" onclick="window.open('http://www.addthis.com/bookmark.php?wt=nw&pub=jescoyez&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'addthis', 'scrollbars=yes,menubar=no,width=620,height=520,resizable=yes,toolbar=no,location=no,status=no,screenX=200,screenY=100,left=200,top=100'); return false;" title="Bookmark using any bookmark manager!" target="_blank">
  <img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="Bouton de signet social AddThis" class="bm" />
  </a>
<!-- AddThis Bookmark Button END -->
  [ <%= link_to 'Poster un commentaire', article_path(p) %> ]
</div>