<h1><%= @page_title="Nous contacter" %></h1>

<p>Frailers.net est l'initiative de <a href="http://www.belighted.com/">Jean-Baptiste Escoyez</a>, <a href="http://nicolas.jacobe.us/">Nicolas Jacobeus</a>, et <a href="http://www.linkedin.com/pub/dir/marc/lainez">Marc Lainez</a>, tous trois développeurs d'applications web pour la société <a href="http://www.belighted.com">Belighted</a> située à Louvain-la-Neuve, en Belgique.</p>

<p>Pour nous envoyer vos questions ou commentaires, une seule adresse : frailers.at.frailers.net. N'hésitez pas, nous sommes ouverts à toute critique ou suggestion!</p>